# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [50]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy import stats
from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = (6,4)

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [73]:
# Run this code:

pokemon = pd.read_csv('pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [36]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [37]:
pokemon.groupby("Legendary")["Legendary"].count()

Legendary
False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [47]:
mean_pokemon_legendary = pokemon[pokemon["Legendary"] == True].groupby("Legendary")["Total"].mean() 

mean_pokemon_not_legendary = pokemon[pokemon["Legendary"] == False].groupby("Legendary")["Total"].mean()

std_pokemon_legendary = pokemon[pokemon["Legendary"] == True].groupby("Legendary")["Total"].std() 

std_pokemon_not_legendary = pokemon[pokemon["Legendary"] == False].groupby("Legendary")["Total"].std()

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [114]:
pokemon_legendary = pokemon.loc[(pokemon["Legendary"] == True)]
pokemon_legendary = pokemon_legendary[["Total"]]

pokemon_not_legendary = pokemon.loc[(pokemon["Legendary"] == False)]
pokemon_not_legendary = pokemon_not_legendary[["Total"]]

In [115]:
pokemon_legendary

     Total
156    580
157    580
158    580
162    680
163    780
..     ...
795    600
796    700
797    600
798    680
799    600

[65 rows x 1 columns]

In [116]:
pokemon_not_legendary

     Total
0      318
1      405
2      525
3      625
4      309
..     ...
787    494
788    304
789    514
790    245
791    535

[735 rows x 1 columns]

In [119]:
stats.ttest_ind(pokemon_legendary, pokemon_not_legendary, equal_var = False).pvalue

#note to myself : warning, don't add booleans in a sample

array([9.35795434e-47])

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

#We can conclude that we reject the hypothesis.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [121]:
Type1 = pokemon.groupby("Type 1")["Type 1"].count()
Type1

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [128]:
water_pokemon = pokemon[pokemon["Type 1"] == 'Water'].groupby("Type 1")["Total"].mean() 

water_pokemon = pokemon[pokemon["Type 1"] == 'Water'].groupby("Type 1")["Total"].mean()

others = pokemon[pokemon["Type 1"] != 'Water'].groupby("Type 1")["Total"].std() 

others = pokemon[pokemon["Type 1"] != 'Water'].groupby("Type 1")["Total"].std()

In [129]:
water_pokemon = pokemon.loc[(pokemon["Type 1"] == 'Water')]
water_pokemon = water_pokemon[["Total"]]

others = pokemon.loc[(pokemon["Type 1"] != 'Water')]
others = others[["Total"]]

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [130]:
stats.ttest_ind(water_pokemon, others, equal_var = True).pvalue

array([0.65871403])

Write your conclusion below.

In [10]:
# Your conclusions here:

#We can conclude that we cannot reject the hypothesis.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [1]:
# Your code here:

import ttest_rel from spicy.stats

#scipy.stats.ttest_rel

SyntaxError: invalid syntax (1887815658.py, line 3)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [13]:
# Your code here:

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: